<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  
    Document Title
    =============================================
    -->
    <title>Título TFG</title>
    <!--  
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="static/lib/animate.css/animate.css" rel="stylesheet">
    <link href="static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="static/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="static/lib/owl.carousel/dist/static/owl.carousel.min.css" rel="stylesheet">
    <link href="static/lib/owl.carousel/dist/static/owl.theme.default.min.css" rel="stylesheet">
    <link href="static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="static/css/style.css" rel="stylesheet">
    <link id="color-scheme" href="static/css/colors/default.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="https://www.upm.es/">UPM</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"><a class="dropdown-toggle" href="/">Inicio</a>
                
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">CNN1</a>
                <ul class="dropdown-menu">
                  <li><a href="/cnn1Info">Información</a></li>
                  <li><a href="/cnn1">Clasificación</a></li>
            </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">CNN2</a>
                <ul class="dropdown-menu">
                  <li><a href="/cnn2Info">Información</a></li>
                  <li><a href="/cnn2">Clasificación</a></li>
            </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">EfficientNet b0</a>
                <ul class="dropdown-menu">
                  <li><a href="/efficientnetInfo">Información</a></li>
                  <li><a href="/efficientnet">Clasificación</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">RestNet50</a>
                <ul class="dropdown-menu">
                  <li><a href="/resnetInfo">Información</a></li>
                  <li><a href="/resnet">Clasificación</a></li>
                </ul>
              </li>
              <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">DenseNet</a>
                <ul class="dropdown-menu">
                  <li><a href="/densenetInfo">Información</a></li>
                  <li><a href="/densenet">Clasificación</a></li>
                </ul>
              </li>
              <li class="dropdown-toggle"><a href="\metricas">Métricas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="main">
        <section class="module bg-dark-60 about-page-header" data-background="static/images/about_bg.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                <h2 href= "https://arxiv.org/abs/1905.11946" class="module-title font-alt">EfficientNet b0</h2>
                <div class="module-subtitle font-serif">Publicado en mayo del 2019 por Mingxing Tan Quoc V. Le, fue desarrollado partiendo de la idea principal de conseguir mejores resultados y una mayor precisión a partir de la mejora del rendimiento de los recursos que tiene la red disponibles.</div>
              </div>
            </div>
          </div>
        </section>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h5 class="font-alt">Arquitectura EfficientNet</h5><br/>
                <p>EfficientNet, publicado en mayo del 2019 por Mingxing Tan Quoc V. Le, fue desarrollado partiendo de la idea principal de conseguir mejores resultados y una mayor precisión a partir de la mejora del rendimiento de los recursos que tiene la red disponibles.</p>
                <p>Esta arquitectura aplica la técnica de escalado compuesto sobre una red con pocos parámetros de entrenamiento. Esta técnica establece que si se aumentan los recursos de computación, una red convolucional será más  eficiente si se realiza el escalado de la profundidad (número de capas), anchura(número de filtros) y resolución (tamaño de la imagen) al mismo tiempo.</p>
                <p>La familia de EficcientNet está compuesta por 8 modelos clasificados como Efficient 0-7. Efficient0 o Efficient b0 corresponde con la arquitectura base sobre la que parten el resto de Efficient. La diferencia que hay entre los distintos Efficient se rige en el número de parámetros entrenables, Efficient b0 cuenta con 4 millones y Efficient b7 con 66 millones.</p>
                <p>Partiendo de la red neuronal convolucional, Efficient b0, la arquitectura que utiliza está basada en 7 bloques residuales con configuraciones diferentes, utilizando un bloque de excitación y compresión junto con la función de activación de swish.</p>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="gallery-item">
                  <div class="gallery-image"><a class="gallery" href="static/images/modelos/EfficientNetEscalado.PNG" title="Title 2"><img src="static/images/modelos/EfficientNetEscalado.PNG" alt="Gallery Image 2"/>
                      <div class="gallery-caption">
                        <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                      </div></a></div>
                </div>
            </div>
          </div>
        </section>
        <hr class="divider-w">
        
        <div class="module-small bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-3">
                <div class="widget">
                  <h5 class="widget-title font-alt">Sobre mi</h5>
                  <p>Graduada en el Doble grado de Ingeniería del Software y Tecnologías para la Sociedad de la Información en la Universidad Politénica de Madrid.</p>
                  <p>Email académico: <a href="#">r.hinojosa@alumnos.upm.es</a></p>
                  <p>Email personal: <a href="#">rocio090397@gmail.com</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2022&nbsp;<a href="/">Rocío Hinojosa Merlo</a>, All Rights Reserved</p>
              </div></div>
            </div>
          </div>
        </footer>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    <!--  
    JavaScripts
    =============================================
    -->
    <script src="static/lib/jquery/dist/jquery.js"></script>
    <script src="static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/lib/wow/dist/wow.js"></script>
    <script src="static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
    <script src="static/lib/isotope/dist/isotope.pkgd.js"></script>
    <script src="static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
    <script src="static/lib/flexslider/jquery.flexslider.js"></script>
    <script src="static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="static/lib/smoothscroll.js"></script>
    <script src="static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>